.CodeMirror {
  height: auto !important;
  overflow-y: hidden;
  overflow-x: auto;
  border-radius: 4px;
  padding: 10px;
  line-height: 1.7;
  font-size: 14px;
  font-family: 'Monaco';
  margin: 10px 0
}